---
layout: default
title: The Other DH
meta-description: "The Other DH website"
---

<header>
	<h1 id="title_string"><a href="/">The Other DH<br><h6>disciplinary history for the way we live now.</h6></a></h1>
</header>
<nav>
	<h2 class="section_title">about</h2>
	<ul class="items">
	    <li><span class="bullet">About the</span> <a href="/info/about/">book</a></li> 
	    <li><span class="bullet">About</span> <a href="/info/about_us/">us</a></li>
		<li><span class="bullet">Some upcoming</span> <a href="/info/talks/">talks</a></li>
		<li><span class="bullet">About the</span> <a href="/info/colophon/">site</a></li>
	</ul>
</nav>

<nav>
	<h2 class="section_title">posts</h2>
	<ul class="items">
		{% for post in site.posts limit: 15 %}
			{% if post.category != 'text' %}
			<li><span class="bullet">{{post.date | date_to_string }}</span> <a href="{{post.url }}">{{ post.title }}</a></li>
			{% endif %}
		{% endfor %}
		<li><a href="/info/all_posts/">show all . . .</a></li>
	</ul>
</nav>
<nav>
<ul class="items">
	<h2 class="section_title">papers</h2>
	<li><span class="bullet"></span> <a href="/docs/Buurma-Heffernan-Notation.pdf">Notation After the “Reality Effect”</a> <span class="bullet">[PDF]</span></li>
	<li><span class="bullet"></span> <a href="/docs/Buurma-Heffernan-Interpretation.pdf">Interpretation, 1980 and 1880</a> <span class="bullet">[PDF]</span></li> 
	<li><span class="bullet"></span> <a href="/docs/Buurma-Heffernan-Common-Reader.pdf">The Common Reader and the Archival Classroom</a> <span class="bullet">[PDF]</span></li>
	</ul>
	</ul>
</nav>


 

