---
layout: default
title: P19 -- All Posts
meta-description: "P19 blog posts"
---

<div id="title">
	<span id="title_string"><a href="/">P19</a></span>&nbsp;&nbsp;&nbsp; <span id="nav"><a href="/">Home</a></span><br>
</div>

<div id="blog_section">
	<div class="section_title">meetings</div>
	<ul class="items">
		{% for post in site.posts  %}
			{% if post.category != 'text' %}
			<li><span class="bullet">{{post.date | date_to_string }}</span> <a href="{{post.url }}">{{ post.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
